<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChitChat</title>
</head>
<body>
    <%= render "layouts/nav" %>
    <section id="main-banner">
        <h1 id="main-h1">ChitChat</h1>
        <p id="main-p">Create topic pages, comment on pages and explore other people's pages</p>
        <div id="main-button-div">
            <button id="main-button">
                <%= link_to "Sign up", new_user_registration_path, id: "main-button-link" %>
            </button>
        </div>
    </section>
</body>
</html>