<%= render 'layouts/general' %>

<div class="pages-index-wrapper">
<h2>Pages</h2>

  <% @users.each do |user| %>
    <% user.pages.each do |page| %>
      <div class="row">
        <tr>
          <div class="td"><td><%= link_to page.title, page_path(page), class: 'page-title-link' %></td></div>
        </tr>
        <br />
    </div>
    <% end %>
  <% end %>

</div>
