.navbar {
    margin-top: -62px;
}

.nav-wrapper {
    position: relative;
    top: 7px;
}

.plain-link, .plain-link:hover {
    text-decoration: none;
    color: black;
}

.default-links {
    position: relative;
    top: 15px;
    padding: 18px;
    color: black;
}

.my-profile-button {
    background-color: #f0f0f0;
}

.pages-link {
    position: relative;
    right: 20px;
    top: 2px;
    padding: 17px;
    color: black;
    background-color: #ddd;
}

.default-links:hover, .pages-link:hover {
    background-color: #eee;
    text-decoration: none;
}
        
.default-pages-link {
    background-color: #f0f0f0;
}

.footer {
    position: absolute;
    top: 1000px;
    padding: 20px;
    width: 100%;
    background-color: #ddd;
    text-align: center;
}
