#main-banner {
    margin: 0;
    height: 100vh;
    width: 100%;
    //background-color: #ffa500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(217deg, rgba(255, 30, 0, 0.8), rgba(255, 102, 0, 0.2) 70.71%),
        linear-gradient(127deg, #ffa500, rgba(255, 196, 0, 0.2) 70.71%),
        linear-gradient(336deg, rgba(255, 205, 39, 0.8), rgba(76, 255, 31, 0.2) 70.71%);

    #main-h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    #main-p {
        font-size: 2rem;
    }

    #main-button {
        border: none;
        height: 3rem;
        width: 10rem;
        border-radius: 10rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: white;
        outline: none;
    }

    #main-button:hover {
        background-color: #f0f0f0;
    }

    #main-button-link {
        padding: 1rem 2rem;
    }
}