// pages/index
#title-bar {
    width: 100%;
    text-align: center;
    background-color: white;

    h1 {
        padding-top: 5.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}

#pages-container {
    background-color: #f0f0f0;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-box {
        width: 35rem;
        border-radius: 0.5rem;
        background-color: white;
        margin: 1rem;
        padding: 1rem;

        a {
            display: inline-block;
            padding: 0.4rem;
        }
        .page-title {
            font-size: 1.5rem;
        }
        .page-description {
            font-size: 1rem;
        }
    }
    @media only screen and (max-width: 800px) {
        .page-box {
            width: 80vw;
        }
    }
}

// pages/new and pages/edit
#new-page-background {
    background-color: #f0f0f0;
    height: 90vh;
}

#new-page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0;

    .new-page-input {
        margin: 1rem;

        label {
            font-size: 1.1rem;
        }
        input {
            width: 20rem;
            height: 2rem;
            border-radius: 0.2rem;
            border: 1px solid #aaa;
            margin-top: 0.5rem;
        }
        input:focus {
            outline: none;
            box-shadow: 0 0 1px 2px #20aaf0a0;
        }
        textarea {
            width: 20rem;
            height: 5rem;
            border-radius: 0.2rem;
            border: 1px solid #aaa;
            margin-top: 0.5rem;
        }
        textarea:focus {
            outline: none;
            box-shadow: 0 0 1px 2px #20aaf0a0;
        }
    }
    #new-page-button {
        margin: 1rem;
        color: white;
        font-weight: bold;
        border: none;
        width: 15rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        background-color: #20aaf0a0;
        outline: none;
    }
    #new-page-button:hover {
        margin: 1rem;
        color: white;
        font-weight: bold;
        border: none;
        width: 15rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        background-color: #20aaf080;
        outline: none;
        cursor: pointer;
    }
}
