// users/index
#title-bar {
    width: 100%;
    text-align: center;
    background-color: white;

    h1 {
        padding-top: 5.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}

#background {
    background-color: var(--light-gray);
    height: 90vh;
}

#my-pages-container {
    background-color: var(--light-gray);
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #user-page-box {
        width: 35rem;
        border-radius: 0.5rem;
        background-color: white;
        margin: 1rem;
        padding: 1rem;

        a {
            display: block;
            padding: 0.4rem;
        }
        .page-title {
            font-size: 1.5rem;
        }
        .page-description {
            font-size: 1rem;
        }
        #button-box {
            display: flex;
            justify-content: center;
            margin: 1rem 1rem 0.5rem 1rem;

            button {
                margin: 0 1.5rem 0 1.5rem;
                border: none;
                width: 8rem;
                height: 2.5rem;
                border-radius: 0.2rem;
                font-size: 1rem;
                background-color: var(--orange);
                outline: none;
                white-space: nowrap;

                a {
                    color: black;
                }
            }
        }
    }
    @media only screen and (max-width: 800px) {
        #user-page-box {
            width: 80vw;
        }
    }
}