// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypages {
    text-align: center;
    padding: 10px 10px 10px 20px;
    background-color: #eee;
    display: block;
}

.edit, .destroy {
    color: white;
    padding: 10px;
    background-color: #f8f8f8;
}

.mypages-link {
    color: black;
    font-size: 18px;
}

.mypages-row {
    padding: 10px;
}

